.root{
	-fx-background-color: #F5F5F5;
}


.navigation{
	-fx-background-color: #F5F5F5;
	-fx-border-color: #E8E8E8;
	-fx-border-width: 0px 3px 0px 0px;
	-fx-border-style: solid;
	
}

#btn_overview{
	-fx-background-color: #F5F5F5;
}

.right_side_pane{
	-fx-border-color: #E8E8E8;
	-fx-border-width: 0px 0px 0px 3px;
	-fx-border-style: solid;
}

.statics_pane{
    -fx-background-color: rgba(54, 159, 255, 0.1);
    -fx-background-radius: 20px;
}

.btn_signin{
	-fx-background-color: #FFBB36;
}

.btn_add_application{
	-fx-background-color: #43A5FF;
	-fx-background-radius: 12; 
}


.btn_search{
	-fx-background-color: #E8E8E8;
	-fx-background-radius: 12; 
	
}

.btn_change_status{
	-fx-background-color: #D4F8D3;
	-fx-background-radius: 12; 
}

.progress_bar .bar{
	-fx-background-color: #43A5FF;
	-fx-background-radius: 12; 
	
}

.progress_bar .track{
	-fx-background-color: #EFF0F1;
	-fx-background-radius: 12; 
	
}

.note_pane{
	-fx-background-color: #EFF0F1;
	-fx-background-radius: 12; 
	
}

.btn_add{
    -fx-background-color: transparent; /* No fill */
    -fx-border-style: segments(5.0, 5.0); /* Dotted border */
    -fx-border-width: 2;
    -fx-border-color: #B9BDC1;
	
}
